
@font-face {
  font-family: 'DINNextLTArabic';
  src: url("./DINNEXT/ArbFONTS-DINNextLTArabic-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: url("./DINNEXT/ArbFONTS-DINNextLTArabic-Regular.ttf");
  font-weight: medium;
  font-style: 700;
  font-display: swap;
}


@font-face {
  font-family: 'DINNextLTArabic';
  src: url("./DINNEXT/ArbFONTS-DINNextLTArabic-Bold.ttf");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}


html[dir] {
  font-family: 'DINNextLTArabic';
}

